// cta section
.cta-section {
  padding: 0 30px;
  position: relative;
  z-index: 999;

  .cta-container {
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    margin-bottom: -5em;
    text-align: center;
    padding: 80px 0;
    box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 0.35);
    border-radius: 20px;

    h2 {
      margin-bottom: 40px;
    }

    a {
      color: #fff;
      background: $Pink;
      font-size: 18px;
      font-weight: 700;
      padding: 20px 70px;
      border-radius: 40px;

      &:hover {
        background: hsl(322, 100%, 78%);
      }
    }
  }
}

// footer section
footer {
  background-color: $Very-Dark-Cyan;
  color: rgb(206, 206, 206);
  padding: 0 30px;

  .footer-container {
    max-width: 1120px;
    margin: auto;
    padding: 10em 0 2rem 0;

    .logo img {
      max-width: 200px;
    }

    .footer-list {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;

      .address {
        max-width: 370px;

        li {
          margin-bottom: 20px;
          position: relative;
          padding-left: 40px;

          &:first-child {
            &::before {
              content: url(../images/icon-location.svg);
              position: absolute;
              left: 0;
              top: 6px;
            }
          }

          &:nth-child(2) {
            &::before {
              content: url(../images/icon-phone.svg);
              position: absolute;
              left: 0;
              top: 2px;
            }
          }

          &:last-child {
            &::before {
              content: url(../images/icon-email.svg);
              position: absolute;
              left: 0;
              top: 4px;
            }
          }
        }
      }

      .page-link li {
        margin-bottom: 20px;

        a {
          color: rgb(206, 206, 206);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .social-link {
        display: flex;

        li {
          a {
            img {
              width: 25px;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
  // copy right
  .copy-right {
    padding: 10px 40px;
    text-align: end;
    font-size: 12px;
  }

  // attribution
  .attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 20px;

    a {
      color: rgba(0, 110, 253, 0.781);
    }
  }
}
